PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/hellocustomer?retryWrites=true&w=majority
SENDGRID_API_KEY=your_sendgrid_api_key_here
ADMIN_EMAIL=evergreenservices9@gmail.com
